<?xml version="1.0"?>
<methodResponse>
    <params>
        <param>
            <value>
                <boolean>{{ edit_result }}</boolean>
            </value>
        </param>
    </params>
</methodResponse>