<?xml version="1.0"?>
<methodResponse>
    <params>
        <param>
            <value>
                <struct>
                    <member>
                        <name>dateCreated</name>
                        <value>
                            <dateTime.iso8601>{{ dateCreated }}</dateTime.iso8601>
                        </value>
                    </member>
                    <member>
                        <name>description</name>
                        <value>
                            <string>{{ description }}</string>
                        </value>
                    </member>
                    <member>
                        <name>title</name>
                        <value>
                            <string>{{ title }}</string>
                        </value>
                    </member>
                    <member>
                        <name>enclosure</name>
                        <value>
                            <struct>
                                <member>
                                    <name>length</name>
                                    <value>
                                        <i4>0</i4>
                                    </value>
                                </member>
                            </struct>
                        </value>
                    </member>
                    <member>
                        <name>link</name>
                        <value>
                            <string>{{ post_url }}</string>
                        </value>
                    </member>
                    <member>
                        <name>permalink</name>
                        <value>
                            <string>{{ post_url }}</string>
                        </value>
                    </member>
                    <member>
                        <name>postid</name>
                        <value>
                            <i4>{{ post_id }}</i4>
                        </value>
                    </member>
                    <member>
                        <name>source</name>
                        <value>
                            <struct />
                        </value>
                    </member>
                    <member>
                        <name>mt_keywords</name>
                        <value>
                            <string>{{ mt_keywords }}</string>
                        </value>
                    </member>
                    <member>
                        <name>wp_slug</name>
                        <value>
                            <string>{{ wp_slug }}</string>
                        </value>
                    </member>
                </struct>
            </value>
        </param>
    </params>
</methodResponse>