<?xml version="1.0" encoding="UTF-8"?>
<methodResponse xmlns:ex="http://ws.apache.org/xmlrpc/namespaces/extensions">
    <params>
        <param>
            <value>
                <struct>
                    <member>
                        <name>url</name>
                        <value>https://static.oschina.net/uploads/img/201706/15014619_IQHG.jpg</value>
                    </member>
                </struct>
            </value>
        </param>
    </params>
</methodResponse>